 *{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
 }
 body{
    height:100%;
    width:100%;
    background-color:#081b29;
 }
header{
    height:60px;
    width:100%;
    background-color:transparent;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:rgb(255,255,255);
    position:fixed;
    z-index:100;
}
.div1{
color:#ededed;
font-size:25px ;
font-weight: 600;
}
.div2 a{
    color:#ededed;
    font-size: 17px;
    text-decoration: none;
    margin-left:35px;
    font-weight:600;
    transition:0.3s;
    
}
 .div2 a.home1 ,
 .div2 a:hover{
    color:#00abf0;
}


.div2 a .home1:hover{
    color:rgb(255,255,255);
}

main{
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center ;
    flex-direction:row;
    align-items: center;

}
.HOME{
    height:600px;
    width:50vw;
    color:white;
}
.div0{
    height:600px;
    width:50vw;
    background-color: white;
}
.div3{
   
    max-width:600px;
}
.div3 h1{
    font-size: 45px;
    font-weight: 800;
}
.div3 h3{
    font-size: 28px;
    font-weight: 700;
    color:#00abf0;
}
.div3 p{
    font-size: 16px;
}
.div4 a{
    display:inline-flex;
    color:#00abf0;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:transparent;
    border:2px solid #00abf0;
    font-size: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin:10px 15px 30px 0px;
}

.div4 a:hover{
    color:rgb(255, 255, 255);
    background-color:#00abf0;
    box-shadow: 0 20 20 #00abf0;

}
main{
    height:100vh;
    width:100vw;
    background-color:#081b29;
}







